extends ../layouts/layout-default

block content
  h1 Welcome to Salesforce Migration Tool! (#{companyName} - #{env})
  if errMessage
    p #{errMessage}
  form(method="post", action="/user/login")
    input(type="hidden", value="get", name="_method")
    p Username: 
      input(type="text", name="username", value="#{username}")
    p Password: 
      input(type="password", name="password", value="#{password}")
    p Secure Token: 
      input(type="password", name="secureToken", value="#{secureToken}")
    p Env: 
      select(name="endpoint")
        option(value="login.salesforce.com") production
        option(value="test.salesforce.com", selected="selected") sandbox
    p 
      input(type="submit", value="Login")